<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="DefaultLayout">
<head>
    <title>UCARE - DICAS</title>
</head>
<section layout:fragment="content">

    <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">HOME</a>
            </li>
            <li class="nav-item"><a href="/cadastro" class="nav-link">CADASTRO</a></li>
            <li class="nav-item"><a href="/agendamentos" class="nav-link">AGENDAMENTOS</a></li>
            <li class="nav-item active"><a href="/dicas" class="nav-link">DICAS</a></li>
            <li class="nav-item"><a href="/ajuda" class="nav-link">AJUDA</a></li>
            <li class="nav-item"><a href="/sobre" class="nav-link">SOBRE</a></li>
            <li class="nav-item"><a href="/fale-conosco" class="nav-link">FALE CONOSCO</a></li>
        </ul>
    </div>
    </div>
    </nav>

   <section class="ftco-section">
            <div class="row no-gutters justify-content-center mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">UCARE</span>
                    <h2>Como me cadastro?</h2>
                </div>
            </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row row-cols-2 marginleft4">
                <div class="col">
                    <div class="team-section-grid animate-box" style="background: url(images/acadastro.png); background-size: contain; background-repeat:no-repeat; width: 300px; height: 200px;"></div>
                    <div><h4>Clique em -Cadastro- e depois selecione a opção “Sou Paciente” ou “Sou Profissional”, logo você será encaminhado para a página de preenchimento de seus dados. </h4></div>
                </div>
            </div>
            <p><a href="/ajuda" class="btn btn-primary margin marginleft10">VOLTAR</a></p>
    </section>
</section>
</html>