<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="DefaultLayout">
  <head>
    <title>UCARE - AJUDA</title>
  </head>
  <section layout:fragment="content">	
  
  <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/home">HOME</a>
				</li>
				<li class="nav-item"><a href="/cadastro" class="nav-link">CADASTRO</a></li>
	        	<li class="nav-item"><a href="/agendamentos" class="nav-link">AGENDAMENTOS</a></li>
	        	<li class="nav-item"><a href="/dicas" class="nav-link">DICAS</a></li>
	        	<li class="nav-item active"><a href="/ajuda" class="nav-link">AJUDA</a></li>
	        	<li class="nav-item"><a href="/sobre" class="nav-link">SOBRE</a></li>
	        	<li class="nav-item"><a href="/fale-conosco" class="nav-link">FALE CONOSCO</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>

  <section class="hero-wrap hero-wrap-2" style="background-image: url('images/ajuda.jpg')"dica-stellar-background-ratio="0.5">
	  <div class="overlay"></div>
	  <div class="container">
		  <div class="row no-gutters slider-text align-items-end">
			  <div class="col-md-9 ftco-animate pb-5">
				  <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/home">Home <i class="fa fa-chevron-right"></i></a></span> <span>Ajuda<i class="fa fa-chevron-right"></i></span></p>
				  <h1 class="mb-0 bread">Ajuda</h1>
			  </div>
		  </div>
	  </div>
  </section>
	
	<section class="ftco-section">
		<div class="container">
			<div class="ajuda">
				<div class="ajuda-conteudo marginleft3">
					<div class="team-section-grid animate-box" style="background: url(images/ajuda.png); background-size: contain; background-repeat:no-repeat; width: 300px; height: 200px;"></div>
					<div class="marginleft6">
					<a href="/ajuda/cadastro"><h4>Como me cadastro?</h4></a>
					</div>
					<a href="/ajuda/agendar"><h4>Como agendar uma consulta?</h4></a>
				</div>
			</div>
		</div>
	</section>
</section>
</html>