<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="DefaultLayout">
<head>
    <title>UCARE - Como me Cadastro</title>
</head>
<section layout:fragment="content">

    <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">HOME</a>
            </li>
            <li class="nav-item"><a href="/cadastro" class="nav-link">CADASTRO</a></li>
            <li class="nav-item"><a href="/agendamentos" class="nav-link">AGENDAMENTOS</a></li>
            <li class="nav-item"><a href="/dicas" class="nav-link">DICAS</a></li>
            <li class="nav-item active"><a href="/ajuda" class="nav-link">AJUDA</a></li>
            <li class="nav-item"><a href="/sobre" class="nav-link">SOBRE</a></li>
            <li class="nav-item"><a href="/fale-conosco" class="nav-link">FALE CONOSCO</a></li>
        </ul>
    </div>
    </div>
    </nav>

    <section class="ftco-section">
            <div class="row no-gutters justify-content-center mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">UCARE</span>
                    <h2>Como agendar uma consulta?</h2>
                </div>
            </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="ajuda">
                <div class="ajuda-conteudo marginleft4">
                    <div class="team-section-grid animate-box marginajudagend" style="background: url(/images/agend1.jpg); background-size: contain; background-repeat:no-repeat; width: 500px; height: 400px;"></div>
                        <h4>Clique em -Agendamentos- e depois selecione o seu médico desejado, o dia e a hora. Você deve respeitar os horários. </h4>
                       <div class="team-section-grid animate-box marginconsulta" style="background: url(/images/agend2.jpg); background-size: contain; background-repeat:no-repeat; width: 600px; height: 500px;"></div>
                        <h4>Clique na Data e Hora para visualizar os dias disponiveis.</h4>
                </div>
            </div>
        </div>
    </section>
    <p><a href="/ajuda" class="btn btn-primary margin3 marginleft">VOLTAR</a></p>
</section>
</html>
