<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<section layout:fragment="conteudo"></section>

<section class="ftco-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
			</div>
		</div>
	</div>
</section>

<footer class="footer ftco-section ftco-no-pt">
	<div class="container">
	  <div class="row mb-5">
		<div class="col-md-6 col-lg">
		  <div class="ftco-footer-widget py-4 py-md-5">
			<h2 class="ftco-heading-2">SOBRE</h2>
			<p>Somos estudantes de Análise e Desenvolvimento de Sistemas, desenvolvendo um projeto da faculdade, 
				e a nossa ideia é te ajudar em meio essa pandemia a trabalhar a sua saúde mental.</p>
		  </div>
		</div>
		<div class="col-md-6 col-lg">
		  <div class="ftco-footer-widget ml-md-5 py-5">
			<h2 class="ftco-heading-2">FUNCIONALIDADES</h2>
			<ul class="list-unstyled">
			  <li><a href="/ajuda" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Ajudamos você</a></li>
			  <li><a href="/agendamentos" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Agendamentos</a></li>
			  <li><a href="/ajuda" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Dicas</a></li>
			</ul>
		  </div>
		</div>
		<div class="col-md-6 col-lg">
		  <div class="ftco-footer-widget py-4 py-md-5">
			  <h2 class="ftco-heading-2">INFORMAÇÕES</h2>
			  <div class="block-23 mb-3">
				<ul>
				  <li><span class="icon fa fa-map-marker"></span><span class="text">Endereço: Rodovia Senador José Ermírio de Moraes, 1425 - Jardim Constantino Matucci, Sorocaba - SP, 18085-784</span></li>
				  <li><a href="https://github.com/eeikee/ucare"><span class="icon fa fa-phone"></span><span class="text">GitHub: Ucare</span></a></li>
				  <li><a href="mailto:ucare4web@outlook.com"><span class="icon fa fa-paper-plane"></span><span class="text">Email: ucare4web@outlook.com</span></a></li>
				</ul>
			  </div>
		  </div>
		</div>
	  </div>
	</div>
  </footer>
    
  
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

<
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/jquery.animateNumber.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-datepicker.js"></script>
  <script src="/js/jquery.timepicker.min.js"></script>
  <script>$('#input_starttime').pickatime({
	// 12 or 24 hour
	  twelvehour: true,
	  });</script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/js/google-map.js"></script>
  <script src="/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    
</html>