<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="DefaultLayout">
  <head>
    <title>UCARE - DICAS Relaxar</title>
  </head>
  <section layout:fragment="content">	
  
  <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/home">HOME</a>
				</li>
				<li class="nav-item"><a href="/cadastro" class="nav-link">CADASTRO</a></li>
	        	<li class="nav-item"><a href="/agendamentos" class="nav-link">AGENDAMENTOS</a></li>
	        	<li class="nav-item active"><a href="/dicas" class="nav-link">DICAS</a></li>
	        	<li class="nav-item"><a href="/ajuda" class="nav-link">AJUDA</a></li>
	        	<li class="nav-item"><a href="/sobre" class="nav-link">SOBRE</a></li>
	        	<li class="nav-item"><a href="/fale-conosco" class="nav-link">FALE CONOSCO</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
	  
  <section class="ftco-section">
        <div class="container">
            <div class="row no-gutters justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h5><b>Exercícios para relaxar</b></h5>
                </div>
            </div>
                <div class="col"><h6><b>1. Coloque-se de forma confortável sentado ou deitado;<br><br>

                    2. Coloque a mão no abdômen (barriga) próxima ao umbigo;<br><br>

                    3. Feche os olhos e concentre-se em sua respiração;<br><br>

                    4. Inspire pelo nariz e encha os pulmões de ar, leve-o até o abdômen, percebendo que ele se movimenta.<br>
                    &nbsp&nbsp&nbsp Você pode imaginar que está enchendo uma bexiga que está dentro de sua barriga. Ao inspirar conte até quatro (mentalmente) para que o pulmão e o abdômen fiquem expandidos;<br><br>

                    5. Retenha o ar por dois tempos (conte até dois mentalmente), mantendo a barriga e os pulmões cheios;<br><br>

                    6. Expire lentamente pela boca, contando até cinco, esvaziando completamente o pulmão e o abdômen;<br><br>

                    7. Reinicie os movimentos após reter os pulmões vazios por dois tempos.<br><br>

                    </b>Evite excesso de movimento torácico durante os movimentos respiratórios fazendo mais movimentos abdominais.<br>
                       Faça o exercício respiratório por dez vezes, praticando por aproximadamente três a cinco minutos.<br>
                       Caso você sinta tontura ou veja "bolinhas" ao abrir os olhos, saiba que isso é normal e vai desaparecer.
                        Isso acontece, porque o cérebro recebe mais oxigênio do que está acostumado, mas é interessante ir se adaptando ao ritmo de forma que fique confortável e não gere sensação de náusea.
                </h6></div>
                <p><a href="/dicas" class="btn btn-primary margin4">VOLTAR</a></p>
        </div>
    </section>
</section>
</html>