<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="DefaultLayout">
  <head>
    <title>UCARE - DICAS Relaxar</title>
  </head>
  <section layout:fragment="content">	
  
  <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/home">HOME</a>
				</li>
				<li class="nav-item"><a href="/cadastro" class="nav-link">CADASTRO</a></li>
	        	<li class="nav-item"><a href="/agendamentos" class="nav-link">AGENDAMENTOS</a></li>
	        	<li class="nav-item active"><a href="/dicas" class="nav-link">DICAS</a></li>
	        	<li class="nav-item"><a href="/ajuda" class="nav-link">AJUDA</a></li>
	        	<li class="nav-item"><a href="/sobre" class="nav-link">SOBRE</a></li>
	        	<li class="nav-item"><a href="/fale-conosco" class="nav-link">FALE CONOSCO</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
	 
    <section class="ftco-section">
        <div class="container">
            <div class="row no-gutters justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h5><b>Exercícios para relaxar</b></h5>
                </div>
            </div>
            <div class="col"><h6><b>1. Colocar a cabeça em um nível abaixo do coração</b><br><br>
                Sentar-se com as pernas dobradas e posicionar a cabeça entre os joelhos, de modo que ela fique em um nível abaixo do coração, também ajuda a relaxar a mente. Outra maneira de realizar esse exercício é de pé, descendo o tronco e esticando os braços em direção ao chão. Fique na posição escolhida por um ou dois minutos e verá como irá se sentir melhor e mais relaxado;<br><br>

                <b>2. Relaxamento muscular progressivo</b><br><br>
                O exercício de relaxamento progressivo consiste em tensionar e relaxar os músculos de cada parte do corpo, separadamente. Caso não tenha tempo para realizar o processo em todas as partes, concentre-se nas que são mais importantes para liberar o estresse, que são: ombros, braços, pescoço e cabeça.<br><br>

                <b>3. Massagem nas mãos</b><br><br>
                Que as massagens são extremamente relaxantes todo mundo sabe, mas você sabia que pode relaxar massageando apenas as suas mãos? Isso mesmo, estudos mostraram que massagear as próprias mãos por cerca de cinco minutos é capaz de ajudar a aliviar a ansiedade. Para praticar, utilize um óleo ou hidratante da sua preferência e massageie entre os dedos e nas palmas das mãos;<br><br>

                <b>4. Alongamento</b><br><br>
                Alongar é mais um exercício fantástico para relaxar o corpo e a mente. Por ser simples e fácil de realizar pode ser feito até mesmo no trabalho, em alguns minutos quando for ao banheiro. Estique os braços, mexa-o para os lados, leve-os de encontro ao chão, gire o tronco, mova a cabeça para os lados, para cima e para baixo. Lembre-se de fazer tudo isso respirando profundamente.
        </div>
        <p><a href="/dicas" class="btn btn-primary margin4">VOLTAR</a></p>
    </section>
</section>
</html>