<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="DefaultLayout">
  <head>
    <title>UCARE - HOME</title>
  </head>
  <section layout:fragment="content">	
  
  <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/home">HOME</a>
				</li>
				<li class="nav-item"><a href="/cadastro" class="nav-link">CADASTRO</a></li>
	        	<li class="nav-item"><a href="/agendamentos" class="nav-link">AGENDAMENTOS</a></li>
	        	<li class="nav-item"><a href="/dicas" class="nav-link">DICAS</a></li>
	        	<li class="nav-item"><a href="/ajuda" class="nav-link">AJUDA</a></li>
	        	<li class="nav-item"><a href="/sobre" class="nav-link">SOBRE</a></li>
	        	<li class="nav-item"><a href="/fale-conosco" class="nav-link">FALE CONOSCO</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
  
    <div class="hero-wrap">
	    <div class="home-slider owl-carousel">
	      <div class="slider-item" style="background-image:url(images/pisic.jpg)">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row no-gutters slider-text align-items-center justify-content-end">
		          <div class="col-md-6 ftco-animate">
		          	<div class="text w-100">
			            <h1 class="mb-4">Bem-vindo ao UCARE</h1>
			            <p> Somos uma equipe que se preocupa com o seu bem estar e queremos ajudá-lo a  sentir-se bem sempre! 
							Se você precisa de ajuda, crie uma conta e contate um de nossos profissionais.</p>
			            <p><a href="/cadastro" class="btn btn-primary">Cadastre-se</a></p>
		            </div>
		          </div>
		        </div>
	        </div>
		  </div>
	  </div>
	</div>
			<section class="margin2 ftco-appointment ftco-section ftco-no-pt ftco-no-pb">
				<div class="overlay">
				<div class="container">
					<div class="row d-md-flex justify-content-center">
						<div class="col-md-6">
					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="username" placeholder="User name">					
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" placeholder="Password">						
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
						</div>
					</div>
				</div>
				</div>
			</section>
</section>
</html>